# Android
*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# App build outputs
app/build/
*.apk
*.aab

# Gradle
gradle/wrapper/gradle-wrapper.jar

# Misc
*.log
*.tmp
*.swp
*~
.vscode/